/* 変数宣言 */
$bg-color: #ffc405;
$btn-color: #a15ac9;
$text-color: #404040;
$shadow: #d6d6d6;
$back-btn: #545454;


html {
  background-color: $bg-color;
}

/* title */
.title{
  text-align: end;
  background-color: #ffffff;
  position: relative;
  h1{
    position: inherit;
  }
}

/* subTitle */
.subTitle{
  width: fit-content;
  color: $text-color;
}

/* top.php */
img{
  display: block;
  margin: 0 auto;
}

