/* 変数宣言 */
$bg-color: #ffc405;
$btn-color: #a15ac9;
$btn-hover:#c38ce4;
$text-color: #404040;
$shadow: #d6d6d6;
$back-btn: #545454;


html {
  background-color: $bg-color;
}

body{
  margin: 50px auto;
}

/* title */
.title{
  text-align: end;
  background-color: #ffffff;
  position: relative;
  h1{
    position: inherit;
  }
}

/* subTitle */
.subTitle{
  width: fit-content;
  color: $text-color;
}

/* searchArea */
#searchArea{
  width: fit-content;
  display: flex;
  input{
    border: 3px solid #ffffff;
    padding: 5px 10px;
  }
  ::placeholder{
    color: #ffffff;
    letter-spacing: 0.1rem;
  }
  button{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 2px 12px;
  }
}

/* top.php */
img{
  display: block;
  margin: 0 auto;
}

/* select.php */
#selectArea{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  p{
    width: fit-content;
    display: inline-block;
  }
}

#selectCampus{
  display: flex;
  flex-direction: column;
  width: fit-content;
  label{
    width: fit-content;
  }
}

/* backBtn */
#backBtn{
  background-color: $back-btn;
  border-radius: 50%;
  padding: 10px;
  span{
    color: #ffffff;
    display: grid;
  }
}

/* submitBtn */
.submitBtn{
  width: fit-content;
  background-color: $btn-color;
  color: #ffffff;
  &:hover{
    background-color: $btn-hover;
  }
}

/* list.php */
