/* PC版デザイン */
@media screen and (min-width: 500px) {

  /* title */
  .titleBig {
    width: 55%;
    max-width: 1000px;
    font-size: 480%;
    margin: 70px 0 10px;
    h1 {
      top: 21px;
    }
  }

  .titleSmall{
    width: 50%;
    max-width: 900px;
    font-size: 330%;
    margin: 40px 0 5px;
    h1{
      top: 15px;
    }
  }

  /* subTitle */
  .subTitleBig{
    font-size: 30px;
    width: 65%;
    max-width: 1100px;
    text-align: end;
  }

  .subTitleSmall{
    font-size: 23px;
    width: 58%;
    max-width: 1000px;
    text-align: end;
  }

  /* searchArea */
  #searchArea{
    margin: 130px auto 80px;
  }

  /* top.php */
  img {
    width: 400px;
  }

/* select.php */
.selectArea{
  width: 600px;
  margin: 30px auto;
  padding: 0;
  #selectP,#listSchoolP{
    display: inline-block;
    margin: 40px auto 20px 60px;
    font-size: 30px;
  }
  .listCampusArea{
    flex-direction: initial;
    margin: 0 auto;
  }
  #listCampusP,#listCampusNameP{
    font-size: 23px;
    margin: 0 10px;
  }
}

#selectCampus{
  margin: 10px auto 40px;
  label{
    margin: 10px 0;
    font-size: 20px;
    &:hover{
      cursor: pointer;
    }
    input{
      margin-right: 8px;
    }
  }
}

.submitBtn{
  margin: 30px auto 0;
  padding: 10px 20px;
  border-radius: 5px;
  &.addCircle{
    margin: 40px auto 0 60%;
    display: block;
  }
}

.addCircle{
  margin: 0 auto;
}

/* backBtn */
#backBtn{
  position: absolute;
  top: 750px;
  left: 150px;
}

/* list.php */
#circleSearch{
  #searchArea{
    margin: 30px auto;
  }
}

#dropdownArea{
  flex-direction: inherit;
  margin: 0 auto;
  select{
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
  }
}

#circleCard{
  margin: 30px auto;
  cursor: pointer;
  p{
    font-size: 23px;
    margin: 20px auto;
  }
  img{
    width: 300px;
    margin: 5px 30px 20px;
  }
}

/* circle.php */
.circleFlex{
  flex-direction: initial;
  align-items: center;
  margin: 30px auto;
    .circleSchoolName{
      font-size: 28px;
      margin: 0 auto;
    }
    .circleCampus,.circleCampusName{
      font-size: 25px;
      margin-left: 20px;
      margin-bottom: 0;
    }
}

#circleProfileArea{
  margin: 0 auto;
  padding: 20px 40px;
  .circleInfoName{
    font-size: 25px;
  }
  .circleInfoIntro{
    width: 500px;
    margin: 10px auto;
    text-align: initial;
  }
}

#tableArea{
  margin: 40px auto;
  flex-direction: initial;
  table{
    margin: 0 20px;
  }
  td{
    padding: 10px;
  }
}

}
