/* スマホ用デザイン */

/* title */
  .titleBig {
    width: 280px;
    font-size: 60px;
    margin: 40px 0 5px;
    h1 {
      top: 17px;
    }
  }

  .titleSmall{
    width: 220px;
    font-size: 38px;
    margin: 20px 0 3px;
    h1{
      top: 10px;
    }
  }

    /* subTitle */
  .subTitleBig{
    font-size: 23px;
    margin: 0 0 0 100px;
  }

  .subTitleSmall{
    font-size: 18px;
    margin: 0 0 0 150px;
  }

  /* top.php */
  img {
    width: 300px;
  }
