/* スマホ用デザイン */

/* title */
  .titleBig {
    width: 310px;
    font-size: 65px;
    margin: 40px 0 10px;
    h1 {
      top: 17px;
    }
  }

  .titleSmall{
    width: 230px;
    font-size: 38px;
    margin: 20px 0;
    h1{
      top: 10px;
    }
  }

  /* top.php */
  img {
    width: 300px;
  }
