/* スマホ用デザイン */

/* title */
.titleBig {
  width: 280px;
  font-size: 60px;
  margin: 90px 0 5px;
  h1 {
    top: 17px;
  }
}

.titleSmall {
  width: 220px;
  font-size: 38px;
  margin: 20px 0 3px;
  h1 {
    top: 10px;
  }
}

/* subTitle */
.subTitleBig {
  font-size: 23px;
  margin: 0 0 0 100px;
}

.subTitleSmall {
  font-size: 18px;
  margin: 0 0 0 150px;
}

/* searchArea */
#searchArea {
  margin: 80px auto 40px;
}

/* top.php */
img {
  width: 300px;
}

/* select.php */
.selectArea{
  width: 90%;
  margin: 30px auto;
  padding: 30px 0 20px;
  #selectP,#listSchoolP{
    display: block;
    margin: 0 auto 10px;
    font-size: 28px;
  }
  .listCampusArea{
    flex-direction: column;
    margin: 10px auto 5px 40px;
  }
  #listCampusP,#listCampusNameP{
    font-size: 20px;
    margin-bottom: 5px;
  }
}

#selectCampus{
  margin: 10px auto;
  label{
    margin: 10px 0;
    font-size: 17px;
    input{
      margin-right: 8px;
    }
  }
}

.submitBtn{
  margin: 30px auto 0;
  padding: 10px 20px;
  border-radius: 5px;
  &.addCircle{
    margin: 30px auto 0;
    display: block;
  }
}

.addCircle{
  margin: 0 auto;
}

/* backBtn */
#backBtn{
  position: absolute;
  top: 550px;
  left: 40px;
}

/* list.php */
#circleSearch{
  #searchArea{
    margin: 30px auto;
  }
}

#dropdownArea{
  flex-direction: column;
  margin: 0 auto;
  select{
    margin: 8px;
    padding: 10px;
  }
}

#circleCard{
  margin: 0 auto;
  p{
    font-size: 20px;
    margin: 15px auto;
  }
  img{
    width: 250px;
    margin: 5px 25px 15px;
  }
}

/* circle.php */
.circleFlex{
  flex-direction: column;
  margin: 25px auto;
    .circleSchoolName{
      font-size: 23px;
      margin: 0 auto 10px;
    }
    .circleCampus,.circleCampusName{
      font-size: 20px;
      margin: 0 8px;
    }
}
